html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.Todos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Todo {
  display: flex;
}

.Todo.isDone {
  text-decoration: line-through;
}
