;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[clj-statecharts "0.1.5"]
  [reagent "1.1.1"]
  [posh "0.5.5"]
  [datascript "1.3.12"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target  :browser
   :modules {:main {:init-fn todo.app/init}}}}}
