;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[clj-statecharts "0.1.5"]
  [reagent "1.1.1"]
  [posh "0.5.5"]
  [datascript "1.3.12"]
  [hickory "0.7.1"]
  [pjstadig/humane-test-output "0.11.0"]]

 :dev-http {8080 "public"
            9090 "test"}

 :builds
 {:bootstrap {:target     :bootstrap
              :output-dir "public/js/bootstrap"
              :entries    [reagent.core
                           cljs.js
                           inspector.api]
              :compiler-options
              {:warnings {:infer false}}

              ;; many macro namespaces can't be evaluated in ClojureScript -
              ;; so we exclude them here to avoid runtime errors. Note that
              ;; it's ok to include code that consumes Clojure (jvm) macros,
              ;; but only selfhost-compatible macros can be evaluated "live".
              :exclude    #{cljs.js}}
  :browser   {:target           :browser
              :output-dir       "public/js"
              :asset-path       "/js"
              :compiler-options {:optimizations :simple
                                 :warnings      {:infer false}}
              :modules          {:base {:init-fn inspector.app/init}}}

  :test      {:target   :browser-test
              :test-dir "test"
              :runner-ns inspector.test-runner}}}
