.attribute {
  display: flex;
  margin-left: 20px;
}

.attribute.is-inline {
  align-items: center;
}

.attribute.is-expandable {
  margin-left: 0;
}

.attribute-entry {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.attribute.is-inline > .attribute-entry {
  flex-direction: row;
  align-items: center;
}

.attribute-literal-value {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
  padding: 4px;
  font-family: 'Roboto Mono', monospace;
  background: #eee;
}

.attribute-expand-button {
  width: 16px;
  height: 19px;
  background: #000;
  opacity: 0.5;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('../assets/caret-forward.svg');
  -webkit-mask-image: url('../assets/caret-forward.svg');
  transition: transform ease-in 100ms;
  transform: rotate(0);
  margin-right: 4px;
}

.attribute-expand-button.is-expanded {
  transform: rotate(90deg);
}