.dot-selection {
  display: flex;
  gap: 4px;
}

.dot {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 5px;
  border: 0;
  background: var(--gray5);
}

.dot.is-selected {
  background: var(--gray2);
}
