.view-value {
  display: flex;
  flex-direction: column;
}

.view-value-divider {
  border-top: 1px dashed var(--gray4);
  margin: 8px 0;
}

.view-value-frames {
  border-top: 1px dashed #ddd;
  padding: 4px;
  padding-top: 8px;
}

.frame {
  width: fit-content;
  border: 1px solid #ddd;
}

.frame-variation.is-active > .frame-name {
  color: var(--highlight);
}

.frame-variation.is-selected > .frame {
  border-color: var(--highlight);
}

.frameset {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #ddd;
}

.frame-name {
  color: #aaa;
}

.frame-variations {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.frame-variation {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.frame-variation > .frame > * {
  pointer-events: none;
}

.frame-group {
  display: flex;
  gap: 16px;
}
