/* INSPECTOR */

.inspector {
  display: flex;
  flex-direction: column;
}

.inspector:first-child {
  border-top: 0;
}

.inspector-header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  background: var(--gray9);
  color: var(--white);
  padding: 8px;
  padding-left: 16px;
}

.inspector-title {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;
}
