html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.inspector {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid #ddd;
}

.inspector:first-child {
  border-top: 0;
}

.inspector-header {
  margin-bottom: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.inspector-title {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;
}

.state {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.state.is-active {
  border-color: #0074D9;
}

.state-name {
  font-weight: normal;
  font-size: 16px;
}

.state-substates {
  display: flex;
  gap: 8px;
}

.action {
  display: flex;
  gap: 4px;
}

.action-name {
  border: 0;
  padding: inherit;
  font-size: inherit;
  color: #aaaaaa;
  background: none;
}

.action-name.is-active {
  color: #0074d9;
}

.action-target {
  color: #aaaaaa;
}

.view-value {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
}

.view-value-frames {
  border-top: 1px dashed #ddd;
  padding: 8px;
}

.frame {
  width: fit-content;
  border: 1px solid #ddd;
}

.frame-variation.is-active > .frame-name {
  color: #0074d9;
}

.frame-variation.is-active > .frame {
  border-color: #0074d9;
}

.frameset {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #ddd;
}

.frame-name {
  color: #aaa;
}

.frame-variations {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.frame-variation {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.frame-variation > .frame > * {
  pointer-events: none;
}

.frame-group {
  display: flex;
  gap: 16px;
}

.todo-list {
  padding: 16px;
}

.todo-list-title {
  font-size: 1.2em;
  font-weight: normal;
}

.dot-selection {
  display: flex;
  gap: 4px;
}

.dot {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 5px;
  border: 0;
  background: #000;
  opacity: 0.3;
}

.dot.is-selected {
  opacity: 1;
}