html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.inspector {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: fit-content;
}

.attribute {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.attribute.is-inline {
  flex-direction: row;
}

.attribute-name {
  font-weight: bold;
}

.state {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.state.is-active {
  border-color: #0074D9;
}

.state-name {
  font-weight: normal;
  font-size: 16px;
}

.state-substates {
  display: flex;
  gap: 8px;
}

.action {
  display: flex;
  gap: 4px;
}

.action-name {
  border: 0;
  padding: inherit;
  font-size: inherit;
  color: #aaaaaa;
  background: none;
  text-decoration: underline;
}

.action-name.is-active {
  color: #0074d9;
}

.action-target {
  color: #aaaaaa;
}

.view-value {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.view-value-preview {
  padding: 8px;
}

.view-value-frames {
  border-top: 1px dashed #ddd;
  padding: 8px;
}

.frame {
  width: fit-content;
  border: 1px solid #ddd;
}

.frame-variation.is-active > .frame-name {
  color: #0074d9;
}

.frame-variation.is-active > .frame {
  border-color: #0074d9;
}

.frameset {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #ddd;
}

.frame-name {
  color: #aaa;
}

.frame-variation {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.frame-variation > .frame > * {
  pointer-events: none;
}

.frame-group {
  display: flex;
  gap: 16px;
}
